{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Por favor, insira sua nova senha</p>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label>
                    </td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme nova senha:</label>
                    </td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Alterar senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Falha ao resetar senha</h1>
        <p>O link para resetar a senha é inválido. Provavelmente porque já foi usado. Solicite uma nova recuperação de senha.</p>
    {% endif %}
{% endblock %}